# Path ke binary Stockfish Anda (Sesuaikan dengan OS Anda)
# Windows: D:/chess/stockfish/stockfish.exe atau D:\\chess\\stockfish\\stockfish.exe
# macOS (jika tidak pakai homebrew): /usr/local/bin/stockfish
# Linux (jika tidak pakai apt/pacman): /usr/games/stockfish
STOCKFISH_PATH=""

# Kedalaman pencarian analisis engine Stockfish (Default: 15)
STOCKFISH_DEPTH=15

# Lokasi penyimpanan database SQLite (Default: data/games.db di folder project)
DB_PATH=""
