# Path to Stockfish binary executable (Adjust to your OS)
# Windows: D:/kuliah/Project-After-Lulus/chess-analyzer/stockfish/stockfish-windows-x86-64-avx2.exe
# macOS: /usr/local/bin/stockfish
# Linux: /usr/games/stockfish
STOCKFISH_PATH=""

# Search depth for Stockfish evaluation engine (Default: 15)
STOCKFISH_DEPTH=15

# PostgreSQL Connection URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/chess_db"
